.about {

    &__bio-background {
        height: 40vh;
        width: 100%;
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: darken($secondary, 40%);
        position: relative;
        top: 1rem;
        text-align: center;
    }

    &__portrait {
        width: 100px;
        border-radius: 15px;
        position: relative;
        top: 2rem;
        left: 40%;
    }

    &__para {
        color: darken($secondary, 60%);
        font-weight: 400;
        position: relative;
        top: 2rem;
        text-align: center;
        margin: 1rem;
    }
}

.resume {
    width: 50vw;
    margin: 0 auto;

    &__items {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }

    &__job {

        margin: 2rem 0;
        background-color: $secondary;
        border-radius: 15px;
        
        &--date {
            padding-bottom: 0.8rem;
            padding-top: 0.8rem;
        }

        &--title {
            padding-bottom: 0.8rem;
        }

        &--company {
            padding-bottom: 0.8rem;
        }

        &--description {
            padding-bottom: 0.8rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1.1em;
        }

        &--duties {

            padding: 1rem 2.5rem;

            &__item {
                text-align: left;
            }

        }
    }

}