$primary: #1B3C59;
$secondary: #71A8D9;
$text: #fff;
$accent: darken(#F26B6B, 30%);
$secondary-accent: #F2937E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

// Code reused from Assignment 4b
@mixin transition-ease {
    transition: all 0.5s ease-in-out; 
}

@mixin animate($animation, $duration, $timing, $delay, $count){
    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $count;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin screen-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin screen-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin screen-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}