.contact {
    height: 100%;
    padding-top: 30vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient(
        to right, 
        rgba($primary, 0.7),
        rgba($primary, 0.1),
        ),
        url('../images/image-1.jpg') center top;
    background-size: cover;

    &__list {
        max-width: fit-content;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 25px;
        font-size: 1.5em;
        
        &--title {
            color: $accent;
        }
    }

    &__email {
        padding: 2rem 0;
    }

    .fas {
        color: $accent;
    }
}