.featured {

    &__header {
        height: 40vh;
        width: 100%;
        background: linear-gradient(
            to right, 
            rgba($primary, 0.7),
            rgba($primary, 0.1),
            ),
            url('../images/image-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--title {
            color: $accent;
            position: relative;
            top: 8rem;
        }
    }

    &__project {
        width: 60vw;
        margin: 0 auto;
        text-align: center;

        &--title {
            margin-top: 2rem;
            padding-bottom: 0.8rem;
        }

        &--description {
            margin-bottom: 2rem;
        }
    }

    &__image {
        display: block;
        width: 300px;
        padding-bottom: 1rem;
    }

}